body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

.mainContent {
  width: 100%;
  margin: 30px auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}

label {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: 600;
}

input {
  background-color: rgb(224, 224, 224);
  width: 250px;
  border: none;
  border-radius: 5px;
  margin: 1rem 0;
  height: 30px;
  padding-left: .5rem;
}

.checkbox {
  height: 15px;
  width: 100%;
}

span {
  font-size: 1rem;
  text-align: center;
}

.formButton {
  width: 180px;
  height: 35px;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: darkslategray;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
}

.formButton:hover {
  transform: scale(1.05);
}

.error {
  color: rgb(253, 45, 45);
  font-weight: 600;
}

.dropDown {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  padding: .2rem;
}

.userContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 2rem auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}